[Unit]
Description=SmartAPI Index Options Algorithmic Engine & Web Dashboard
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/angelone-options
ExecStart=/home/ubuntu/angelone-options/venv/bin/python main.py
Restart=always
RestartSec=5
StandardOutput=append:/home/ubuntu/angelone-options/logs/systemd_output.log
StandardError=append:/home/ubuntu/angelone-options/logs/systemd_error.log

[Install]
WantedBy=multi-user.target
